<br>
<div class="jumbotron">
  <h1>AirDnD</h1>
  <p>Describe AirDnD</p>
  <p>
     <%= link_to "Sign In", class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", class: 'btn btn-primary' %> today!
  </p>
</div>

<h2>Hungry? Find an open seat at someone elses table!</h2>
<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div class="row">
  <div class="col-md-4">
    <h2>Meal Image</h2>
    <p>Deal Description</p>
  </div>
  <div class="col-md-4">
    <h2>Meal Image</h2>
    <p>Deal Description</p>
  </div>
  <div class="col-md-4">
    <h2>Meal Image</h2>
    <p>Deal Description</p>
  </div>
</div>